body{
    background-color: #a19393;
	font-family: sans-serif;
}
.container {
    width: 30%;
    padding: 50px;
    margin: 20px auto;
    border: 1px solid #f7aeae;
    background-color: #0f131841;
    border-radius: 40px;
}

.form-control {
    width: 100%;
    padding:10px;
    margin-top: 8px;
    font-size: 15px;
    border: 1px solid #360930;
    border-radius: 40px;
}

.btn {
    padding: 10px;
    font-size: 13px;
    background-color: #101110a9;
    border-radius: 4px;
    border: none;
    margin-top: 8px;
    cursor: pointer;
}
a{
    
    padding: 6px;
   
}
